<div id="nav">
	<ul>
		<li><%= link_to 'Loans', loans_path %></li>
		<li><%= link_to 'Show', @loan %></li>
		<li><%= link_to 'Logout', signout_path %>
	</ul>
</div>
<div id="panel">
<h1>Editing The Loan</h1>
<%= render 'form' %>
</div>