<!DOCTYPE html>
<html>
<head>
  <title>Loanminder</title>
	<script>
	   FB.init({
	     appId  : '162609797189752',
	     status: true, // check login status
	     cookie: true, // enable cookies to allow server to access session,
	     xfbml: true, // enable XFBML and social plugins
	     oauth: true, // enable OAuth 2.0
	     
	   });
	 </script>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
